.list{
    background-color: var(--color-backgroud);
    height: 85vh;
    width: 70%;
    overflow-y:auto;
}

::-webkit-scrollbar {
    
    width: 5px;
    
    color: aliceblue;
  }

  ::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    background: var(--color-backgroud);
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media only screen and (max-height: 768px){
    .list{
      height: 40vh;
      width: 100%;
  }
  }