.carrusel-container {
    background-color: var(--color-background);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 20px;
}

.carrusel-box {
    width: 95vw;
    max-width: 875px;
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    gap:10px;
    position: relative;
}

.carrusel-h5 {
    color: var(--color-text);
    font-size: 25px;
}

.carrusel-dot-section {
    /*background-color: green;*/
    height: 40px;
    width: 100%;
}

.carousel .slide .img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.carousel .slide {
    padding: 5px;
}
  
.carousel.carousel-slider .control-arrow {
    color: white;
    background: transparent;
}
  
.carousel .slider-wrapper {
    perspective: 2000px;
}
  
.carousel .slider {
    transform-style: preserve-3d;
}
  
.carousel .slide {
    opacity: 0.9;
    transform: rotateY(-20deg) scale(0.9);
}
  
.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
    opacity: 1;
    transform: rotateY(-10deg) scale(0.95);
}
  
.carousel .slide.selected {
    opacity: 1;
    transform: rotateY(0) scale(1.1);
}
  
.carousel .slide.selected ~ .slide {
    transform: rotateY(20deg) scale(0.9);
}

.carousel.carousel-slider {
    position: inherit;
}

/* ESTILOS DE LAS FLECHAS */

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px; 
    height: 40px;
    z-index: 999;
    cursor: pointer;
}

.custom-arrow:hover {
    opacity: 0.7;
}

.custom-arrow-left {
    left: 10px;
}

.custom-arrow-right {
    right: 10px;
}


/* ESTILOS PARA LA SECCION DE PUNTOS */

.carousel.carousel-slider .control-dots .dot {
    background-color: #fff;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.carousel.carousel-slider .control-dots .dot.selected {
    opacity: 1;
}
