:root {
  /* Colores para cada género de música */
  --color-pop: hsl(0, 100%, 50%);
  --color-pop-triad-1: hsl(120, 100%, 50%);

  --color-rock: hsl(36, 100%, 50%);
  --color-rock-triad-1: hsl(156, 100%, 50%);

  --color-hip-hop: hsl(72, 100%, 50%);
  --color-hip-hop-triad-1: hsl(192, 100%, 50%);

  --color-jazz: hsl(108, 100%, 50%);
  --color-jazz-triad-1: hsl(228, 100%, 50%);

  --color-reggaeton: hsl(144, 100%, 50%);
  --color-reggaeton-triad-1: hsl(264, 100%, 50%);

  --color-flamenco: hsl(180, 100%, 50%);
  --color-flamenco-triad-1: hsl(300, 100%, 50%);

  --color-techno: hsl(216, 100%, 50%);
  --color-techno-triad-1: hsl(36, 100%, 50%);

  --color-metal: hsl(252, 100%, 50%);
  --color-metal-triad-1: hsl(72, 100%, 50%);

  --color-k-pop: hsl(288, 100%, 50%);
  --color-k-pop-triad-1: hsl(108, 100%, 50%);

  --color-soul: hsl(324, 100%, 50%);
  --color-soul-triad-1: hsl(144, 100%, 50%);

  --color-clasica: hsl(0, 0%, 50%);
  --color-clasica-triad-1: hsl(120, 100%, 50%);

  --color-instrumental: hsl(36, 100%, 50%);
  --color-instrumental-triad-1: hsl(156, 100%, 50%);

  --color-anime: hsl(72, 100%, 50%);
  --color-anime-triad-1: hsl(192, 100%, 50%);

  --color-reggae: hsl(108, 100%, 50%);
  --color-reggae-triad-1: hsl(228, 100%, 50%);

  --color-latino: hsl(144, 100%, 50%);
  --color-latino-triad-1: hsl(264, 100%, 50%);
}

/* Estilo para cada género de música */
.pop {
  background: linear-gradient(
    to bottom,
    var(--color-pop),
    var(--color-pop-triad-1)
  );
}

.rock {
  background: linear-gradient(
    to bottom,
    var(--color-rock),
    var(--color-rock-triad-1)
  );
}

.hip-hop {
  background: linear-gradient(
    to bottom,
    var(--color-hip-hop),
    var(--color-hip-hop-triad-1)
  );
}

.jazz {
  background: linear-gradient(
    to bottom,
    var(--color-jazz),
    var(--color-jazz-triad-1)
  );
}

.reggaeton {
  background: linear-gradient(
    to bottom,
    var(--color-reggaeton),
    var(--color-reggaeton-triad-1)
  );
}

.flamenco {
  background: linear-gradient(
    to bottom,
    var(--color-flamenco),
    var(--color-flamenco-triad-1)
  );
}

.techno {
  background: linear-gradient(
    to bottom,
    var(--color-techno),
    var(--color-techno-triad-1)
  );
}

.metal {
  background: linear-gradient(
    to bottom,
    var(--color-metal),
    var(--color-metal-triad-1)
  );
}

.k-pop {
  background: linear-gradient(
    to bottom,
    var(--color-k-pop),
    var(--color-k-pop-triad-1)
  );
}

.soul {
  background: linear-gradient(
    to bottom,
    var(--color-soul),
    var(--color-soul-triad-1)
  );
}

.clasica {
  background: linear-gradient(
    to bottom,
    var(--color-clasica),
    var(--color-clasica-triad-1)
  );
}

.instrumental {
  background: linear-gradient(
    to bottom,
    var(--color-instrumental),
    var(--color-instrumental-triad-1)
  );
}

.anime {
  background: linear-gradient(
    to bottom,
    var(--color-anime),
    var(--color-anime-triad-1)
  );
}

.reggae {
  background: linear-gradient(
    to bottom,
    var(--color-reggae),
    var(--color-reggae-triad-1)
  );
}

.latino {
  background: linear-gradient(
    to bottom,
    var(--color-latino),
    var(--color-latino-triad-1)
  );
}

#main_container {
  aspect-ratio: 16/9;
  overflow: hidden;
  transition: 0.25s ease;
  border-radius: 1rem;
  border-color: gray;
}

#main_container:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transform: scale(1.005);
}

p {
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: 1.05px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
}
