:root {
  /* Colores para cada género de música */
  --color-pop: hsl(0, 100%, 50%);
  --color-pop-analogous-1: hsl(24, 100%, 50%);
  --color-pop-analogous-2: hsl(348, 100%, 50%);

  --color-rock: hsl(48, 100%, 50%);
  --color-rock-analogous-1: hsl(72, 100%, 50%);
  --color-rock-analogous-2: hsl(24, 100%, 50%);

  --color-hip-hop: hsl(96, 100%, 50%);
  --color-hip-hop-analogous-1: hsl(120, 100%, 50%);
  --color-hip-hop-analogous-2: hsl(72, 100%, 50%);

  --color-jazz: hsl(144, 100%, 50%);
  --color-jazz-analogous-1: hsl(168, 100%, 50%);
  --color-jazz-analogous-2: hsl(120, 100%, 50%);

  --color-reggaeton: hsl(192, 100%, 50%);
  --color-reggaeton-analogous-1: hsl(216, 100%, 50%);
  --color-reggaeton-analogous-2: hsl(168, 100%, 50%);

  --color-flamenco: hsl(240, 100%, 50%);
  --color-flamenco-analogous-1: hsl(264, 100%, 50%);
  --color-flamenco-analogous-2: hsl(216, 100%, 50%);

  --color-techno: hsl(288, 100%, 50%);
  --color-techno-analogous-1: hsl(312, 100%, 50%);
  --color-techno-analogous-2: hsl(264, 100%, 50%);

  --color-metal: hsl(336, 100%, 50%);
  --color-metal-analogous-1: hsl(360, 100%, 50%);
  --color-metal-analogous-2: hsl(312, 100%, 50%);

  --color-k-pop: hsl(24, 100%, 50%);
  --color-k-pop-analogous-1: hsl(48, 100%, 50%);
  --color-k-pop-analogous-2: hsl(360, 100%, 50%);

  --color-soul: hsl(72, 100%, 50%);
  --color-soul-analogous-1: hsl(96, 100%, 50%);
  --color-soul-analogous-2: hsl(48, 100%, 50%);

  --color-clasica: hsl(120, 100%, 50%);
  --color-clasica-analogous-1: hsl(144, 100%, 50%);
  --color-clasica-analogous-2: hsl(96, 100%, 50%);

  --color-instrumental: hsl(168, 100%, 50%);
  --color-instrumental-analogous-1: hsl(192, 100%, 50%);
  --color-instrumental-analogous-2: hsl(144, 100%, 50%);

  --color-anime: hsl(216, 100%, 50%);
  --color-anime-analogous-1: hsl(240, 100%, 50%);
  --color-anime-analogous-2: hsl(192, 100%, 50%);

  --color-reggae: hsl(264, 100%, 50%);
  --color-reggae-analogous-1: hsl(288, 100%, 50%);
  --color-reggae-analogous-2: hsl(240, 100%, 50%);

  --color-latino: hsl(312, 100%, 50%);
  --color-latino-analogous-1: hsl(336, 100%, 50%);
  --color-latino-analogous-2: hsl(288, 100%, 50%);
}

/* Estilo para cada género de música */
.pop {
  background: linear-gradient(
    to bottom,
    var(--color-pop),
    var(--color-pop-analogous-1),
    var(--color-pop-analogous-2)
  );
}

.rock {
  background: linear-gradient(
    to bottom,
    var(--color-rock),
    var(--color-rock-analogous-1),
    var(--color-rock-analogous-2)
  );
}

.hip-hop {
  background: linear-gradient(
    to bottom,
    var(--color-hip-hop),
    var(--color-hip-hop-analogous-1),
    var(--color-hip-hop-analogous-2)
  );
}

.jazz {
  background: linear-gradient(
    to bottom,
    var(--color-jazz),
    var(--color-jazz-analogous-1),
    var(--color-jazz-analogous-2)
  );
}

.reggaeton {
  background: linear-gradient(
    to bottom,
    var(--color-reggaeton),
    var(--color-reggaeton-analogous-1),
    var(--color-reggaeton-analogous-2)
  );
}

.flamenco {
  background: linear-gradient(
    to bottom,
    var(--color-flamenco),
    var(--color-flamenco-analogous-1),
    var(--color-flamenco-analogous-2)
  );
}

.techno {
  background: linear-gradient(
    to bottom,
    var(--color-techno),
    var(--color-techno-analogous-1),
    var(--color-techno-analogous-2)
  );
}

.metal {
  background: linear-gradient(
    to bottom,
    var(--color-metal),
    var(--color-metal-analogous-1),
    var(--color-metal-analogous-2)
  );
}

.k-pop {
  background: linear-gradient(
    to bottom,
    var(--color-k-pop),
    var(--color-k-pop-analogous-1),
    var(--color-k-pop-analogous-2)
  );
}

.soul {
  background: linear-gradient(
    to bottom,
    var(--color-soul),
    var(--color-soul-analogous-1),
    var(--color-soul-analogous-2)
  );
}

.clasica {
  background: linear-gradient(
    to bottom,
    var(--color-clasica),
    var(--color-clasica-analogous-1),
    var(--color-clasica-analogous-2)
  );
}

.instrumental {
  background: linear-gradient(
    to bottom,
    var(--color-instrumental),
    var(--color-instrumental-analogous-1),
    var(--color-instrumental-analogous-2)
  );
}

.anime {
  background: linear-gradient(
    to bottom,
    var(--color-anime),
    var(--color-anime-analogous-1),
    var(--color-anime-analogous-2)
  );
}

.reggae {
  background: linear-gradient(
    to bottom,
    var(--color-reggae),
    var(--color-reggae-analogous-1),
    var(--color-reggae-analogous-2)
  );
}

.latino {
  background: linear-gradient(
    to bottom,
    var(--color-latino),
    var(--color-latino-analogous-1),
    var(--color-latino-analogous-2)
  );
}

#main_container {
  aspect-ratio: 16/9;
  overflow: hidden;
  transition: 0.25s ease;
  border-radius: 1rem;
  border-color: gray;
}

#main_container:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transform: scale(1.005);
}

p {
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: 1.05px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
}
