:root {
  /* Colores para cada género de música */
  --color-pop: hsl(0, 50%, 50%);
  --color-pop-2: hsl(60, 50%, 50%);
  --img-pop: url("assets/genreImages/pop-img.png");

  --color-rock: hsl(24, 50%, 50%);
  --color-rock-2: hsl(84, 50%, 50%);
  --img-rock: url("assets/genreImages/rock-img.png");

  --color-hip-hop: hsl(48, 50%, 50%);
  --color-hip-hop-2: hsl(108, 50%, 50%);
  --img-hip-hop: url("assets/genreImages/hip-hop-img.png");

  --color-jazz: hsl(72, 50%, 50%);
  --color-jazz-2: hsl(132, 50%, 50%);
  --img-jazz: url("assets/genreImages/jazz-img.png");

  --color-reggaeton: hsl(96, 50%, 50%);
  --color-reggaeton-2: hsl(156, 50%, 50%);
  --img-reggaeton: url("assets/genreImages/reggaeton-img.png");

  --color-flamenco: hsl(120, 50%, 50%);
  --color-flamenco-2: hsl(180, 50%, 50%);
  --img-flamenco: url("assets/genreImages/flamenco-img.png");

  --color-techno: hsl(144, 50%, 50%);
  --color-techno-2: hsl(204, 50%, 50%);
  --img-techno: url("assets/genreImages/techno-img.png");

  --color-metal: hsl(168, 50%, 50%);
  --color-metal-2: hsl(228, 50%, 50%);
  --img-metal: url("assets/genreImages/metal-img.png");

  --color-k-pop: hsl(192, 50%, 50%);
  --color-k-pop-2: hsl(252, 50%, 50%);
  --img-k-pop: url("assets/genreImages/k-pop-img.png");

  --color-soul: hsl(216, 50%, 50%);
  --color-soul-2: hsl(276, 50%, 50%);
  --img-soul: url("assets/genreImages/soul-img.png");

  --color-clasica: hsl(240, 50%, 50%);
  --color-clasica-2: hsl(270, 50%, 50%);
  --img-clasica: url("assets/genreImages/clasica-img.png");

  --color-videojuegos: hsl(264, 50%, 50%);
  --color-videojuegos-2: hsl(324, 50%, 50%);
  --img-videojuegos: url("assets/genreImages/videojuegos-img.png");

  --color-anime: hsl(288, 50%, 50%);
  --color-anime-2: hsl(348, 50%, 50%);
  --img-anime: url("assets/genreImages/anime-img.png");

  --color-trap: hsl(312, 50%, 50%);
  --color-trap-2: hsl(12, 50%, 50%);
  --img-trap: url("assets/genreImages/trap-img.png");

  --color-latino: hsl(336, 50%, 50%);
  --color-latino-2: hsl(36, 50%, 50%);
  --img-latino: url("assets/genreImages/latino-img.png");
}

.genre-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Estilos para cada género de música */
.pop {
  background: linear-gradient(
    to bottom,
    var(--color-rock),
    var(--color-rock-2)
  );
}

.pop-img {
  background-image: var(--img-pop);
}

.rock {
  background: linear-gradient(
    to bottom,
    var(--color-rock),
    var(--color-rock-2)
  );
}

.rock-img {
  background-image: var(--img-rock);
}

.hip-hop {
  background: linear-gradient(
    to bottom,
    var(--color-hip-hop),
    var(--color-hip-hop-2)
  );
}

.hip-hop-img {
  background-image: var(--img-hip-hop);
}

.jazz {
  background: linear-gradient(
    to bottom,
    var(--color-jazz),
    var(--color-jazz-2)
  );
}

.jazz-img {
  background-image: var(--img-jazz);
}

.reggaeton {
  background: linear-gradient(
    to bottom,
    var(--color-reggaeton),
    var(--color-reggaeton-2)
  );
}

.reggaeton-img {
  background-image: var(--img-reggaeton);
}

.flamenco {
  background: linear-gradient(
    to bottom,
    var(--color-flamenco),
    var(--color-flamenco-2)
  );
}

.flamenco-img {
  background-image: var(--img-flamenco);
}

.techno {
  background: linear-gradient(
    to bottom,
    var(--color-techno),
    var(--color-techno-2)
  );
}

.techno-img {
  background-image: var(--img-techno);
}

.metal {
  background: linear-gradient(
    to bottom,
    var(--color-metal),
    var(--color-metal-2)
  );
}

.metal-img {
  background-image: var(--img-metal);
}

.k-pop {
  background: linear-gradient(
    to bottom,
    var(--color-k-pop),
    var(--color-k-pop-2)
  );
}

.k-pop-img {
  background-image: var(--img-k-pop);
}

.soul {
  background: linear-gradient(
    to bottom,
    var(--color-soul),
    var(--color-soul-2)
  );
}

.soul-img {
  background-image: var(--img-soul);
}

.clasica {
  background: linear-gradient(
    to bottom,
    var(--color-clasica),
    var(--color-clasica-2)
  );
}

.clasica-img {
  background-image: var(--img-clasica);
}

.videojuegos {
  background: linear-gradient(
    to bottom,
    var(--color-videojuegos),
    var(--color-videojuegos-2)
  );
}

.videojuegos-img {
  background-image: var(--img-videojuegos);
}

.anime {
  background: linear-gradient(
    to bottom,
    var(--color-anime),
    var(--color-anime-2)
  );
}

.anime-img {
  background-image: var(--img-anime);
}

.trap {
  background: linear-gradient(
    to bottom,
    var(--color-trap),
    var(--color-trap-2)
  );
}

.trap-img {
  background-image: var(--img-trap);
}

.latino {
  background: linear-gradient(
    to bottom,
    var(--color-latino),
    var(--color-latino-2)
  );
}

.latino-img {
  background-image: var(--img-latino);
}
