:root {
  /* Colores para cada género de música */
  --color-pop: hsl(0, 50%, 50%);
  --color-pop-2: hsl(60, 50%, 50%);
  --img-pop: url("assets/genreImages/pop-img.png");

  --color-rock: hsl(24, 50%, 50%);
  --color-rock-2: hsl(84, 50%, 50%);
  --img-rock: url("assets/genreImages/rock-img.png");

  --color-hip-hop: hsl(48, 50%, 50%);
  --color-hip-hop-2: hsl(108, 50%, 50%);

  --color-jazz: hsl(72, 50%, 50%);
  --color-jazz-2: hsl(132, 50%, 50%);

  --color-reggaeton: hsl(96, 50%, 50%);
  --color-reggaeton-2: hsl(156, 50%, 50%);
  --img-reggaeton: url("assets/genreImages/reggaeton-img.png");

  --color-flamenco: hsl(120, 50%, 50%);
  --color-flamenco-2: hsl(180, 50%, 50%);

  --color-techno: hsl(144, 50%, 50%);
  --color-techno-2: hsl(204, 50%, 50%);

  --color-metal: hsl(168, 50%, 50%);
  --color-metal-2: hsl(228, 50%, 50%);

  --color-k-pop: hsl(192, 50%, 50%);
  --color-k-pop-2: hsl(252, 50%, 50%);

  --color-soul: hsl(216, 50%, 50%);
  --color-soul-2: hsl(276, 50%, 50%);

  --color-clasica: hsl(240, 50%, 50%);
  --color-clasica-2: hsl(270, 50%, 50%);

  --color-instrumental: hsl(264, 50%, 50%);
  --color-instrumental-2: hsl(324, 50%, 50%);

  --color-anime: hsl(288, 50%, 50%);
  --color-anime-2: hsl(348, 50%, 50%);
  --img-anime: url("assets/genreImages/anime-img.png");

  --color-reggae: hsl(312, 50%, 50%);
  --color-reggae-2: hsl(12, 50%, 50%);

  --color-latino: hsl(336, 50%, 50%);
  --color-latino-2: hsl(36, 50%, 50%);
}

/* Estilos para cada género de música */
.pop {
  background: linear-gradient(to bottom, var(--color-pop), var(--color-pop-2));
}

.pop-img {
  background-image: var(--img-pop);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.rock {
  background: linear-gradient(
    to bottom,
    var(--color-rock),
    var(--color-rock-2)
  );
}

.rock-img {
  background-image: var(--img-rock);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hip-hop {
  background: linear-gradient(
    to bottom,
    var(--color-hip-hop),
    var(--color-hip-hop-2)
  );
}

.jazz {
  background: linear-gradient(
    to bottom,
    var(--color-jazz),
    var(--color-jazz-2)
  );
}

.reggaeton {
  background: linear-gradient(
    to bottom,
    var(--color-reggaeton),
    var(--color-reggaeton-2)
  );
}

.reggaeton-img {
  background-image: var(--img-reggaeton);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.flamenco {
  background: linear-gradient(
    to bottom,
    var(--color-flamenco),
    var(--color-flamenco-2)
  );
}

.techno {
  background: linear-gradient(
    to bottom,
    var(--color-techno),
    var(--color-techno-2)
  );
}

.metal {
  background: linear-gradient(
    to bottom,
    var(--color-metal),
    var(--color-metal-2)
  );
}

.k-pop {
  background: linear-gradient(
    to bottom,
    var(--color-k-pop),
    var(--color-k-pop-2)
  );
}

.soul {
  background: linear-gradient(
    to bottom,
    var(--color-soul),
    var(--color-soul-2)
  );
}

.clasica {
  background: linear-gradient(
    to bottom,
    var(--color-clasica),
    var(--color-clasica-2)
  );
}

.instrumental {
  background: linear-gradient(
    to bottom,
    var(--color-instrumental),
    var(--color-instrumental-2)
  );
}

.anime {
  background: linear-gradient(
    to bottom,
    var(--color-anime),
    var(--color-anime-2)
  );
}

.anime-img {
  background-image: var(--img-anime);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.reggae {
  background: linear-gradient(
    to bottom,
    var(--color-reggae),
    var(--color-reggae-2)
  );
}

.latino {
  background: linear-gradient(
    to bottom,
    var(--color-latino),
    var(--color-latino-2)
  );
}
