.playListPlayerContainer{
    width: 100%;
    padding-bottom: 20px;
}

.arrowCross, .arrowLoop{
    color: var(--color-text);
    height: 35%;
    aspect-ratio: 1;
    transition: 0.3s;
    cursor: pointer;
}

.arrowCrossActive, .arrowLoopActive{
    color: var(--color-theme);
    height: 35%;
    aspect-ratio: 1;
    transition: 0.3s;
    cursor: pointer;
}

.arrowCrossButton, .arrowLoopButton{
    height: 100%;
    width: 100%;
}

.arrowCross:hover, .arrowLoop:hover, .arrowCrossActive:hover, .arrowLoopActive:hover{ 
    transform: scale(1.1);
    transition: 0.3s;
}

.playListButton .play{
    height: 60%;
    width: 60%;
    aspect-ratio: 1;
    margin-left: 10%;
    cursor: pointer;
}

.playListButtonAnimated .play{
    height: 60%;
    width: 60%;
    aspect-ratio: 1;
    cursor: pointer;
}

.playListButton{
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    color:var(--color-theme);
    transition: 0.3s;
}

.playListButtonAnimated{
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    color:var(--color-theme);
    transition: 0.3s;
    animation: playListButton-animation 2s linear infinite;
}

.playListButton:hover{
    background-color: var(--color-2);
    transform: scale(1.05);
    transition: 0.3s;
}

.playListButtonAnimated:hover{
    background-color: var(--color-2);
    transform: scale(1.05);
    transition: 0.3s;
}

@media only screen and (max-width: 1199.5px){
    .playListButton .play{
        height: 4vh;
        width: 4vh;
        margin-left: 5px;
    }

    .playListButtonAnimated .play{
        height: 4vh;
        width: 4vh;
    }

    .playListButton{
        width: 10vh;
        height: 10vh;
    }
    .playListButtonAnimated{
        width: 10vh;
        height: 10vh;
    }
}

@keyframes playListButton-animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}