.theme-toggle{
  background-color: transparent;
  border: 0;
  margin-top: 3.2px;
  border-radius: 100%;
}

.theme-toggle:hover svg{
  fill: var(--color-theme);
  transform: scale(1.05);
  transition: 0.3s;
}

.div-toogle{
  margin-right: 1rem !important;
}

@media only screen and (max-width: 850px){
  .theme-toggle{
    margin-top: 4px;
  }

  .div-toogle{
    margin: 0px;
    margin-right: 7px !important;
  }
}