.playContainer {
    width: 50px;
    height: 50px;
    background-color: lightskyblue;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .playButton{
    vertical-align: middle;
    margin-left: 0.15rem;
    margin-top: 0.6rem;
    opacity: 0;
    transition: .2s ease;
  }
  
  .song{
    background-color: #474747;
    color:white;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
    pointer-events:fill;
    user-select: none;
  }

  .song:hover{
    background-color: #4d4d4d;
    transition-duration: 0.25s;
  }
  
  .song:hover .playButton{
    opacity: 1;
  }
  
  .song .row{
    height: 100%;
    align-items:center;
    padding-bottom: 2px;
  }
  
  .song .options{
    justify-content: center;
  }
  
  .name{
    font-size: 1rem;
  }
  
  .author{
    font-size: 0.75rem;
  }

  
  .album{
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
  }
  
  .time{
    font-size: 1rem;
  }
  
  .options{
    cursor:pointer;
    border-radius: 5px;
  }

  .options:hover{
    background-color: #666666;
    transition: ease;
    transition-duration: 0.25s;
  }

  .optionsLabel{
    width: 200px;
    background-color: #4d4d4d;
    z-index: 9998;
    position:absolute;
    inset: auto 0px auto auto;
    margin-top: -20px;
    margin-right: 5px;
    border-radius: 5px;
    border: black solid 1px;
    color:white;
    font-size: 0.75rem;
  }

  .listsLabel{
    width: 200px;
    background-color: #4d4d4d;
    z-index: 9999;
    position:absolute;
    inset: auto 0px auto auto;
    margin-top: 30px;
    margin-right: 40px;
    border-radius: 5px;
    border: black solid 1px;
    color:white;
    font-size: 0.75rem;
  }

  .option{
    cursor:pointer;
    border-radius: 5px;
    transition-duration: 0.25s;
  }

  .option:hover {
    background-color: #666666;
    transition: ease;
    transition-duration: 0.25s;
  }

@media only screen and (max-width: 768px){
  .album{
    display: none;
  }
}