.inicio-section {
    background-color: var(--color-background);
    width: 100%;
    height: 82.5vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 40px;
    @media screen and (max-height: 750px) {
        height: calc(100vh - 53.4px - 90.75px);
    }
}

.h5-recent-lists {
    color: var(--color-text);
    width: 95vw;
    max-width: 875px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 25px;
}

.div-recent-lists {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}