.playList{
    overflow-x: hidden;
    overflow-y: hidden;                         
    height : 82.5vh;
    min-width: 300px;
    padding-bottom: 10px;
    background-color: var(--color-backgroud);

}