.navButton {
  position: relative;
  left: 2vw;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 15px 5px 15px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.25s ease;
  margin-top: 8px;
  height: 70%;
}

.navButton:hover{
  text-shadow: 0 0 2px;
  background-color: #655be6;
  transform: scale(1.05);
  transition: 0.25s ease;
}

#light .navButton{
  color: rgb(0, 0, 0);
}

#dark .navButton{
  color: white;
}
