div.col_content, #cards_container{
    display: flex;
    justify-content: center;
}



#cards_table{
    width: 900px;
    height: fit-content;
}

#cards_container {
    background-color: var(--color-background);
    height: 78.5vh;
    overflow-y: scroll;
}
