.navButton {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 600;
  padding: 2.5px 15px 5px 15px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.25s ease;
  margin-top: 0px;
  height: 70%;
}

.navButton:hover{
  background-color: var(--color-theme);
  transition: 0.25s ease;
}

.navButton:active{
  scale: 0.95;
  transition: 0.1s ease;
}

.navButton{
  color: var(--color-text);
}

@media only screen and (max-width: 920px){
  .navButton{
    margin: 0px 0px 10px 0px;
    transform: translateX(0%);
  }

  .navButton:hover{
    transform: translateX(0%);
  }
}

