.search-bar {
  width: 30vw;
  height: 2rem;
  border-radius: 20px;
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-top: 3px;
}

.search-btn {
  right: 3px;
  top: 6%;
  background-color: transparent;
  border-radius: 50%;
  border: 0px;
  transform: scale(0.9);
  margin-top: 3.5px;
}

.search-btn:hover {
  background-color: rgb(224, 224, 224);
}
.search-btn:active {
  transform: scale(0.95);
  background-color: rgb(185, 185, 185);
}

@media only screen and (max-width: 500px){
  .search-bar{
    visibility: hidden;
  }
  .search-btn{
    visibility: hidden;
  }
}