#dark{
  --color-background:#3A3434;
  --color-1:#484848;
  --color-2:#555555;
  --color-3:#666666;
  --color-4:#6d6d6d;
  --color-5: #e7e7e7;
  --color-text:white;
  --border: none;
  --color-theme:#4cccf7;
  --placeholder-img: url('/assets/placeholder-img-light.png');
}

#light{
  --color-background:#dddddd;
  --color-1:#f5f5f5;
  --color-2:#e6e6e6;
  --color-3:#c4c3c3;
  --color-4:#b8b8b8;
  --color-5: #333333;
  --color-text:black;
  --border: none;
  --color-theme:#0151d1;
  --placeholder-img: url('/assets/placeholder-img-dark.png');
}

.CustomSnackbar {
  position:fixed;
  top:5vh;
  left: 50vw;
  right: 50vw; 
  justify-self: center;

  height: fit-content;
  width: fit-content;
  z-index: 9500;
  
  display: flex;
  justify-content: center;
  text-align: center;
  
  max-width: 560px;
  min-width: 300px;
  
  background-color: var(--color-1);
  border-radius: 8px;
  border: 1px solid var(--color-text);
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.7);
  padding: 0.75rem;
  color: var(--color-text);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  animation: in-top 400ms;
  transition: transform 0.2s ease-out;
  }

  @keyframes in-top {
    from {
      transform: translate(0, -12vh);
    }

    to {
      transform: translate(0, 0);
    }
  }