@import url("./genreStyle.css");

#genre_container {
  aspect-ratio: 16/9;
  max-width: 300px;
  overflow: hidden;
  transition: 0.25s ease;
  border-radius: 1rem;
  border-color: gray;
}

#genre_container:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transform: scale(1.005);
}

.genre-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.genre-title {
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: 1.05px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
}
