.busqueda-wrapper {
    background-color: var(--color-background);
    height: 82.5vh;
    @media screen and (max-height: 750px) {
        height: calc(100vh - 53.4px - 90.75px);
    }
    display: flex; 
    justify-content: space-around;
    h4 {
        color: var(--color-text);
        padding-left: 10px;
    }
}

.busqueda-container {
    width: 900px;
    @media screen and (max-width: 900px) {
        flex-basis: 100%;
        width: 100%;
      }
}

.busqueda {
    height: 95%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
        margin-left: 0%;
        margin-right: 0%;
    }
}

.no-result {
    color: var(--color-text)
}