.busqueda-wrapper {
    background-color: var(--color-background);
    height: 82.5vh;
    @media screen and (max-height: 750px) {
        height: calc(100vh - 53.4px - 90.75px);
    }
}

.busqueda {
    height: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
        margin-left: 0%;
        margin-right: 0%;
    }
}

.no-result {
    color: var(--color-text)
}
