.topBar {
  height: 6vh;
}

#dark .topBar{
    background-color: #4E4848;
}

#light .topBar{
    background-color: white;
}

#dark .btn-back{
    background-color: #686262;
    border-color: #686262;
}
#dark .btn-back:hover{
    background-color: #635c5c;
    border-color: #635c5c;
}


#light .btn-back{
    background-color: #c3b9b9;
    border-color: #c3b9b9;
}
#light .btn-back:hover{
    background-color: #b9aeae;
    border-color: #b9aeae;
}

.mobile-btn{
    visibility: hidden;
    height: 70%;
}
.mobile-btn:active{
    background-color: red;
}

.title{
    font-size: calc(1.3rem + 0.6vw);
    left: 5%;
}

@media only screen and (max-width: 500px){
    .mobile-btn{
        visibility: visible;
    }

    .btn-back{
        visibility: hidden;
        width: 0%;
    }

    .title{
        font-size: calc(1.375rem + 2vw);
        left: 2% !important;
    }
}
